<a ng-click="cancel()"><span class="glyphicon glyphicon-remove" style="position:absolute;right:2px;top:2px;font-size:20px;"></span></a>
<div class="container-fluid">
<div class="row">
<div class="span6" style="padding-left: 50px; float: none; margin: 0 auto; ">
<table class="table table-striped" style="font-size: 11px">
<tr>
<td>company:</td>
<td><input type="text" id="company" ng-model="trasiimodal.id.compaak" ng-disabled="true" /></td>
<td>empresa:</td>
<td><input type="text" id="empresa" ng-model="trasiimodal.id.empresa" ng-disabled="true"/></td>
<td>ejercicio:</td>
<td><input type="text" id="ejercicio" ng-model="trasiimodal.id.ejercio" ng-disabled="true"/></td>
<td>periodo:</td>
<td><input type="text" id="periodo" ng-model="trasiimodal.id.periodo" ng-disabled="true"/></td>
</tr>
<tr>
<td>eminif:</td>
<td><input type="text" id="eminif" ng-model="trasiimodal.id.eminif" ng-disabled="true"/></td>
<td>facnum:</td>
<td><input type="text" id="facnum" ng-model="trasiimodal.id.facnum" ng-disabled="true"/></td>
<td>facfec:</td>
<td><input type="text" id="facfec" ng-model="trasiimodal.id.facfec" ng-disabled="true"/></td>
<td>facter:</td>
<td><input type="text" id="facter" ng-model="trasiimodal.id.facter" ng-disabled="true"/></td>
</tr>
<tr>
	<td>Empcif</td><td><input type="text" id="empcif" ng-model="trasiimodal.empcif" maxlength="9"/></td>
	<td>Empnom</td><td><input type="text" id="empnom" ng-model="trasiimodal.empnom" /></td>
	<td>Repcif</td><td><input type="text" id="repcif" ng-model="trasiimodal.repcif" /></td>
	<td>Tipocom</td><td><input type="text" id="tipocom" ng-model="trasiimodal.tipocom" /></td>
</tr>
<tr>
	<td>Factip</td><td><input type="text" id="factip" ng-model="trasiimodal.factip" /></td>
	<td>Facrti</td><td><input type="text" id="facrti" ng-model="trasiimodal.facrti" /></td>

	<td>Facrnu</td><td><input type="text" id="facrnu" ng-model="trasiimodal.facrnu" /></td>
	<td>Facrfe</td><td><input type="text" id="facrfe" ng-model="trasiimodal.facrfe" /></td>
</tr>
<tr>
	<td>Facrba</td><td><input type="text" id="facrba" ng-model="trasiimodal.facrba" /></td>

	<td>Facrcu</td><td><input type="text" id="facrcu" ng-model="trasiimodal.facrcu" /></td>
	<td>Faclar</td><td><input type="text" id="faclar" ng-model="trasiimodal.faclar" /></td>
	<td>Factot</td><td><input type="text" id="factot" ng-model="trasiimodal.factot" /></td>
</tr>
<tr>
	<td>Facdes</td><td><input type="text" id="facdes" ng-model="trasiimodal.facdes" /></td>
    <td>Facsiti</td><td><input type="text" id="facsiti" ng-model="trasiimodal.facsiti" /></td>
    <td>Facrefi:</td><td><input type="text" id="facrefi" ng-model="trasiimodal.facrefi" /></td>

	<td>Facnom:</td><td><input type="text" id="facnom" ng-model="trasiimodal.facnom" maxlength="40"/></td>
</tr>
<tr>
	<td>Facpai:</td><td><input type="text" id="facpai" ng-model="trasiimodal.facpai" /></td>
	<td>Facnif:</td><td><input type="text" id="facnif" ng-model="trasiimodal.facnif" maxlength="9"/></td>

	<td>Facidp:</td><td><input type="text" id="facidp" ng-model="trasiimodal.facidp" /></td>
	<td>Facidc:</td><td><input type="text" id="facidc" ng-model="trasiimodal.facidc" /></td>
</tr>
<tr>
	<td>Facope:</td><td><input type="text" id="facope" ng-model="trasiimodal.facope" /></td>

	<td>Facsug:</td><td><input type="text" id="facsug" ng-model="trasiimodal.facsug" /></td>
	<td>Facexe:</td><td><input type="text" id="facexe" ng-model="trasiimodal.facexe" /></td>
	<td>Facbae:</td><td><input type="text" id="facbae" ng-model="trasiimodal.facbae" /></td>
</tr>
<tr>
	<td>Facba1:</td><td><input type="text" id="facba1" ng-model="trasiimodal.facba1" /></td>
	<td>Facpi1:</td><td><input type="text" id="facpi1" ng-model="trasiimodal.facpi1" /></td>
	<td>Facim1:</td><td><input type="text" id="facim1" ng-model="trasiimodal.facim1" /></td>
	<td>Facpr1:</td><td><input type="text" id="facpr1" ng-model="trasiimodal.facpr1" /></td>
</tr>
<tr>
	<td>Facir1:</td><td><input type="text" id="facir1" ng-model="trasiimodal.facir1" /></td>
	<td>Facba2:</td><td><input type="text" id="facba2" ng-model="trasiimodal.facba2" /></td>

	<td>Facpi2:</td><td><input type="text" id="facpi2" ng-model="trasiimodal.facpi2" /></td>
	<td>Facim2:</td><td><input type="text" id="facim2" ng-model="trasiimodal.facim2" /></td>
</tr>
<tr>
	<td>Facpr2:</td><td><input type="text" id="facpr2" ng-model="trasiimodal.facpr2" /></td>
<td>Facir2:</td>
<td><input type="text" id="facir2" ng-model="trasiimodal.facir2" /></td>
<td>Facba3:</td>
<td><input type="text" id="facba3" ng-model="trasiimodal.facba3" /></td>
<td>Facpi3:</td>
<td><input type="text" id="facpi3" ng-model="trasiimodal.facpi3" /></td>
</tr>
<tr>
<td>Facim3:</td>
<td><input type="text" id="facim3" ng-model="trasiimodal.facim3" /></td>
<td>Facpr3:</td>
<td><input type="text" id="facpr3" ng-model="trasiimodal.facpr3" /></td>
<td>Facir3:</td>
<td><input type="text" id="facir3" ng-model="trasiimodal.facir3" /></td>

<td>Facba4:</td>
<td><input type="text" id="facba4" ng-model="trasiimodal.facba4" /></td>
</tr>
<tr>
<td>Facpi4:</td>
<td><input type="text" id="facpi4" ng-model="trasiimodal.facpi4" /></td>
<td>Facim4:</td>
<td><input type="text" id="facim4" ng-model="trasiimodal.facim4" /></td>

<td>Facpr4:</td>
<td><input type="text" id="facpr4" ng-model="trasiimodal.facpr4" /></td>
<td>Facir4:</td>
<td><input type="text" id="facir4" ng-model="trasiimodal.facir4" /></td>
</tr>
<tr>
<td>Facba5:</td>
<td><input type="text" id="facba5" ng-model="trasiimodal.facba5" /></td>
<td>Facpi5:</td>
<td><input type="text" id="facpi5" ng-model="trasiimodal.facpi5" /></td>
<td>Facim5:</td>
<td><input type="text" id="facim5" ng-model="trasiimodal.facim5" /></td>
<td>Facpr5:</td>
<td><input type="text" id="facpr5" ng-model="trasiimodal.facpr5" /></td>
</tr>
<tr>
<td>Facir5:</td>
<td><input type="text" id="facir5" ng-model="trasiimodal.facir5" /></td>
<td>factno:</td>
<td><input type="text" id="factno" ng-model="trasiimodal.factno" /></td>
<td>facino:</td>
<td><input type="text" id="facino" ng-model="trasiimodal.facino" /></td>

<td>facfre:</td>
<td><input type="text" id="facfre" ng-model="trasiimodal.facfre" /></td>
</tr>
<tr>
<td>facdec:</td>
<td><input type="text" id="facdec" ng-model="trasiimodal.facdec" /></td>
<td>facopa:</td>
<td><input type="text" id="facopa" ng-model="trasiimodal.facopa" /></td>

<td>facicp:</td>
<td><input type="text" id="facicp" ng-model="trasiimodal.facicp" /></td>
<td>facfcp:</td>
<td><input type="text" id="facfcp" ng-model="trasiimodal.facfcp" /></td>
</tr>
<tr>
<td>facmcp:</td>
<td><input type="text" id="facmcp" ng-model="trasiimodal.facmcp" /></td>

<td>emiuse:</td>
<td><input type="text" id="emiuse" ng-model="trasiimodal.emiuse" ng-disabled="true" /></td>
<td>emifcr:</td>
<td><input type="text" id="emifcr" ng-model="trasiimodal.emifcr" ng-disabled="true" /></td>
<td>emihcr:</td>
<td><input type="text" id="emihcr" ng-model="trasiimodal.emihcr" ng-disabled="true" /></td>
</tr>
<tr>
<td>emipro:</td>
<td><input type="text" id="emipro" ng-model="trasiimodal.emipro" ng-disabled="true" /></td>
<td>emiftr:</td>
<td><input type="text" id="emiftr" ng-model="trasiimodal.emiftr" ng-disabled="true" /></td>
<td>emihtr:</td>
<td><input type="text" id="emihtr" ng-model="trasiimodal.emihtr" ng-disabled="true" /></td>
<td>resfer:</td>
<td><input type="text" id="resfer" ng-model="trasiimodal.resfer" ng-disabled="true" /></td>
</tr>
<tr>
<td>reshor:</td>
<td><input type="text" id="reshor" ng-model="trasiimodal.reshor" ng-disabled="true" /></td>
<td>rescsv:</td>
<td><input type="text" id="rescsv" ng-model="trasiimodal.rescsv" /></td>
<td>resemi:</td>
<td><input type="text" id="resemi" ng-model="trasiimodal.resemi" ng-disabled="true" /></td>
<td>resfac:</td>
<td><input type="text" id="resfac" ng-model="trasiimodal.resfac" ng-disabled="true" /></td>
</tr>
<tr>
<td>resemi:</td>
<td><input type="text" id="reserr" ng-model="trasiimodal.reserr" ng-disabled="true" /></td>
<td>resfac:</td>
<td><input type="text" id="resdes" ng-model="trasiimodal.resdes" ng-disabled="true" /></td>
<td></td><td></td>
<td></td><td></td>
</tr>
<tr>

	<td></td><td></td>
	<td></td><td></td>
	<td></td><td></td>
	<td colspan="2">
  		<button class="btn btn-success" ng-click="ok()"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar Cambios</button>
  		<button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-floppy-remove"></span> Cancelar Cambios</button>
	</td>
	</tr>
</table>
</div>
</div>
</div>