<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSI</title>

    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="js/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
    <script src="js/app.js"></script>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/table.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="container" ng-controller="TrasiiCRUDCtrl">
<!-- Navigation -->
<p id="top"> </p>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background: white;" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="form-inline" style="margin-top:5px;">
            <div class="form-group" style="float:left;margin-left:2px;margin-right:2px;">
				 <label for="paginas">Documentos por página:</label>
			<input class="form-control" type="number" min="1" max="100" ng-model="pageSize"/>
			</div>
			<div class="form-group" style="float:left;margin-left:2px;margin-right:2px;">
			<a class="btn btn-primary btn-block" href="#top">Ir al primero de la página</a>
			</div>
			<div class="form-group" style="float:left;margin-left:2px;margin-right:2px;">
			<a class="btn btn-primary btn-block" href="#down">Ir al último de la página</a>
			</div>
			<div class="form-group" style="float:left;margin-left:150px;margin-rigth:150px;">
				<a href="http://aka.es"><img style="height:30px;" src="https://drive.google.com/uc?id=1CVmKlYjTv98a2EoLIheeclJzUE-rr5a4" alt="rudderSii"></a>		                    			
			</div>
			<div class="form-group" style="float:right;">
			<button type="button" class="btn btn-danger" style="float:right;margin-left:2px;margin-right:2px;" ng-click="procesarRegistros()" ng-disabled="btnProcesar">Procesar Documentos seleccionados</button>
			<input type="button" class="{{allSelected ? 'btn btn-warning' : 'btn btn-success'}}" style="float:right;margin-left:2px;margin-right:2px;" value="{{allSelected ? 'Deseleccionar Todos' : 'Seleccionar Todos'}}" ng-click="selectAll()"/>
			<!-- input type="button" class="btn btn-succes" value="All" ng-click="selectAll()" /><br /-->
			</div> 	
			
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->


    <p style="color: green">{{message}}</p>
<!--     <p style="color: red">{{errorMessage}}</p> -->
    
    <div class="alert alert-danger" role="alert" ng-show="errorMessage">{{errorMessage}}</div>

            
            <!-- div class="panel-body"--->
            <div style="background: #c5c5c5;padding-top:5px;padding-bottom:5px;">
        <div class="form-inline">        
              <div class="form-group">
				 <label for="periodo">Periodo:</label>
				 <select class="form-control" ng-model="trasiisfilter.id.periodo">
    				<option ng-repeat="(key, value) in months" value="{{key}}">{{value}}</option>
				</select>
			</div>
			<div class="form-group ">
				  <label for="ejercicio">Ejercicio:</label>
			            <select class="form-control" ng-model ="trasiisfilter.id.ejercio">
    						<option ng-repeat="(key, value) in years" value="{{key}}">{{value}}</option>
						</select>
			</div>
			<div class="form-group">
				  <label for="empresa">Empresa:</label>
				  <input type="text" ng-model="trasiisfilter.id.empresa" class="form-control" maxlength="2"/>
			</div>
			<div class="form-group">
				  <label for="nif">NIF:</label>
				  <input type="text" ng-model="trasiisfilter.facnif" class="form-control" maxlength="25"/>
			</div>
		</div>
		<div class="form-inline" style="margin-top:5px;margin-bottom:5px;">
			<div class="form-group">
				  <label for="factura">Factura:</label>
				  <input type="text" ng-model="trasiisfilter.id.facnum" class="form-control" maxlength="10"/>
			</div>
			
			<div class="form-group">
				  <label for="serie">Serie:</label>
				  <input type="text" ng-model="trasiisfilter.factip" class="form-control" maxlength="2"/>
			</div>
			<div class="form-group">
				  <label for="tipo">Tipo:</label>
				   <select class="form-control" ng-model="trasiisfilter.id.facter">
			            	<option value="E">E</option>
			            	<option value="R">R</option>
			       </select>
			</div>
			<div class="form-group">
				  <label for="estado">Estado:</label>
				<select class="form-control" ng-options="state as state.desc for state in states track by state.id" ng-model="csvSwitch" ng-change="swichState()" ></select>
			</div>
		</div>				
		</div>
		
            <!-- tr>
			Documentos por página:	<input type="number" min="1" max="100" ng-model="pageSize"/>
			</tr>
                    <tr style="height:20px;">

	                    Empresa: <input type="text" ng-model="trasiisfilter.id.empresa" style="width: 30px" maxlength="2"/>
			            Ejercicio:
			            <select ng-model="trasiisfilter.id.ejercio">
    						<option ng-repeat="(key, value) in years" value="{{key}}">{{value}}</option>
						</select>
			            Periodo:
			            <select ng-model="trasiisfilter.id.periodo">
    						<option ng-repeat="(key, value) in months" value="{{key}}">{{value}}</option>
						</select>
			            NIF: <input type="text" ng-model="trasiisfilter.facnif" style="width: 100px" maxlength="25"/>
			            Serie: <input type="text" ng-model="trasiisfilter.factip" style="width: 30px" maxlength="2"/>
			            Factura: <input type="text" ng-model="trasiisfilter.id.facnum" style="width: 100px" maxlength="10"/>
			            Tipo R/E:
			            <select ng-model="trasiisfilter.id.facter">
			            	<option value="E">E</option>
			            	<option value="R">R</option>
			            </select>
<!-- 			            <select ng-model="csvSwitch" ng-change="swichState()"> -->
<!-- 			            	<option value="empty">Pendiente</option> -->
<!-- 			            	<option value="nonEmpty">Terminado</option> -->
<!-- 			            </select> 
			            Pen / Ter
						<select ng-options="state as state.desc for state in states track by state.id" ng-model="csvSwitch" ng-change="swichState()" ></select>
                    </tr-->
                    <div class="table-responsive">
                   <table class="table table-striped table-bordered">
                    <thead>
                        <th>
							<!-- input type="button" value="All" ng-click="selectAll()" /><br /-->
                        </th>
                        <th>Emp</th>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>NIF</th>
                        <th>Nombre</th>
                        <th>Num Factura</th>
<!--                         <th>Fecha Factura</th> -->
                        <th>R/E</th>
<!--                         <th>Emp Cif</th> -->
<!--                         <th>Repcif</th> -->
                        <th>Tipo com</th>
                        <th>Tipo factura</th>
                        <th>CSV</th>
						<th>Estado</th>
						<th>Error</th>
						<th>Detalle</th>
                    </tr>
                    </thead>
                    <tbody>
                   					
					<tr 
					dir-paginate="tra in itemsToShow | filter:trasiisfilter  | itemsPerPage: pageSize" 
					current-page="currentPage"
					ng-click="setSelected(tra)"
					ng-class="isRowSelected[tra.keySelectedRow] ? 'selectedRow':''">
                        <td align="center">
                            <!--<a class="btn btn-default" ng-click="getTrasii(tra)"><em class="fa fa-pencil"></em></a> -->
                            <!--<input type="checkbox" ng-checked="item.isRowSelected" ng-click="toggleSelection({{ tra.id.compaak }})" value="{{ tra.id.compaak }}||{{ tra.id.empresa }}||{{ tra.id.ejercio }}||{{ tra.id.periodo }}||{{ tra.id.eminif }}||{{ tra.id.facnum }}||{{ tra.id.facfec }}||{{ tra.id.facter }}||{{ tra.empcif }}" />-->
<!--                            <a class="btn btn-default" ng-click="open()"><em class="fa fa-pencil"></em></a> -->
<!--                            <a ng-click="open()"><em class="fa fa-pencil"></em></a> -->
                           
                           <a class="btn btn-default" ng-click="open(tra)"><span class="glyphicon glyphicon-search"></span> Detalle</a>
                           
<!--                              <a class="btn btn-danger"><em class="fa fa-trash"></em></a> -->
                        </td>
<!--                             <td class="hidden-xs">{{ tra.id.compaak }}</td> -->
							
                            <td>{{ tra.id.empresa }}</td>
                            <td>{{ tra.id.ejercio }}</td>
                            <td>{{ tra.id.periodo }}</td>
                            <td ng-if="!isEmpty(tra.facnif)">{{tra.facnif}}</td>
                            <td ng-if="isEmpty(tra.facnif)">{{tra.facidc}}</td>
                            <td>{{ tra.facnom }}</td>
                            <td>{{ tra.id.facnum }}</td>
                            <td>{{ tra.id.facter }}</td>
                            <td>{{ tra.tipocom }}</td>
                            <td>{{ tra.factip }}</td>
							<td>{{ tra.rescsv }}</td>
							<td>{{ tra.resfac }}</td>
							<td>{{ tra.reserr }}</td>
							<td>{{ tra.resdes }}</td>
                    </tr>
                    </tbody>
                </table>
               </div> 
                
            <!-- /div-->
            <div class="panel-footer">
                <div class="row">
                    <!-- >div class="col col-xs-8">
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"  items-per-page="itemsPerPage"></ul>
                    </div-->
                    <div class="text-left" boundary-links="true">
						<dir-pagination-controls boundary-links="true" template-url="partial-views/dir-pagination-controls.html"></dir-pagination-controls>
					</div>
                </div>
            </div>
            <br>
            <br>
            <p id="down"></p>
            <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 Gabinete De Informatica A.K. SL, TODOS LOS DERECHOS RESERVADOS
      </p>
    <button class="navbar-btn btn-link btn pull-right" onclick="location.reload()">Recargar página</button>
      <a href="http://aka.es" class="navbar-btn btn-link btn pull-left">
      <span class="glyphicon glyphicon-comment"></span>  Contáctanos</a>
    </div>
  </div>
</body>
</html>