.table-striped>tbody>tr.selectedRow {
    background-color:  #a7f9a7;
}

.pagination>li>a,
.pagination>li>span {
    border: 1px solid #449d44;
}
.pagination>li.active>a {
    background: #449d44;
    color: #fff;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #449d44;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color:  #a7f9a7;
    border: 1px solid #449d44;
}

.pagination > li > a{
    color: #449d44;
}

a { 
  color: @link-color; 
  text-decoration: none; 

  &:hover, 
  &:focus { 
    color: @link-hover-color; 
    text-decoration: underline; 
  } 

  &:focus { 
    .tab-focus(); 
  } 
}

.modal-dialog{
	margin: 80px auto;
	width: 1400px;
}

.modal-content {
	padding-top: 50px;
  	height: 900px;
}

.margin-header{
	margin-left:5px;
	margin-right:5px;	
}


